<div>
    <ul>
        <li *ngFor="let todo of todos">
            {{todo.title}}
        </li>
    </ul>
    <table border="1">
        <tr>
            <th>Comments</th>
            <th>Vote Count</th>
            <th>UpVote</th>
            <th>News Details</th>
        </tr>
        <tr *ngFor="let news of newsList.hits">
            <td>{{news.num_comments}}</td>
            <td>{{news.points}}</td>
            <td>{{news.num_comments}}</td>
            <td>{{news.title}}</td>
        </tr>
    </table>
<div>
    <a *ngIf="page>0" (click)="backPage()" href="javascript:void();">Previous</a> {{page}}/{{numberOfPages}} <a *ngIf="page<numberOfPages-1" (click)="nextPage()" href="javascript:void();">Next</a>
</div>
</div>
